*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background:rgb(255, 255, 255);
}

header{
	width: 100%;
}

.navegacion{
	width: 1000px;
	margin: 30px auto;
	background: rgb(255, 255, 255);
}

.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
    left:450px;;
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: #2e10d6;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li a:hover{
	color: #CE7D35;
	transition: all .3s;
}

/* Submenu*/

.submenu{
	position: absolute;
	background: #dae989;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: rgb(0, 0, 0);
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}

.row{
   
    margin:auto;
    
}

<style>
div{
	background-image:url('img/b4.jpg');
}
</style>




